/* Basic style sheet*/
*{
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
 width: 100%; 
 height:100%; 
 font-family: 'Noto Sans SC', sans-serif;
 background: radial-gradient( circle farthest-corner at 18.7% 37.8%,  rgba(250,250,250,1) 0%, rgba(225,234,238,1) 90% );
}
ol {list-style-position: inside;}
.row{
  display:block;
  margin:0 auto;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#header{
   display:block;
   margin: 0 auto;   
   box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.01);
}
#navigation{    /* col-1 */
 display:none; 
 margin-bottom:2px;
 background: white;
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.01);
}
#main_col{  /* col-2 */
 display: block;
 margin-bottom:1px;
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.01);
}
#main_col_wide{  /* col-2 wider version for desktop */
  display: block;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.01);
  }
#news_updates{  /* col-3 */
 display: block;
 margin-bottom:1px; 
}
#footer{
 display:block;
 margin-top: 5px;
 min-height: 80px; 
 background-color: #1A838F; 
 padding: 15px 20px;
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.01);
}
#footer ul{
 display: inline-block;
 height: 80%;
 list-style-type: none;
}
#footer ul li a{
 display:block;
 color: white;
 margin: 5px 10px; 
 font-size:12px; 
}
#footer ul li a img{
 width: 25%;
 height: 25%;
}
/* xx*/
.social_me_icons{
 display:inline-block; 
 margin-right: 10px; 
 width: 50px;
 height: 50px;
}
#menu{
  display:none;
}
#membership_form{
  width:640px;
  height:1081px;
}
#footnote{
  font-size: 9px;
  padding: 2px 2px;
}
#footnote p{
  display:inline-block;
  font-size: 9px;
  color:grey;
  padding: 2px 2px;
}
.event_year{
 display: block;
 width: 100%;
 text-align:center;
 color: white;
 background-color:#1A838F;
 margin-top: 20px;
}
#google_map{
  width:100%;
  height:100%;
}
#got_to_top{
 display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#got_to_top:hover{
 background-color: #555; /* Add a dark-grey background on hover */
}
/* ############# Mobile Styles Smartphones (portrait and landscape) ########################### */
@media only screen and (min-device-width : 320px) and (max-device-width : 750px){
  .row{
    width: 100%;
  }
  #header{
   width: 100%;
   height: 300px;
   background-image: url('../img/header_mobile.png') ;   
   background-repeat: no-repeat;
   background-size: auto 250px;
   background-position: center bottom; 
  }
  #menu{
   display:block;
   width: 100%;
   color:white;
   padding: 5px 3px;
   background-color: #252525;
   opacity: 0.6;
   text-decoration: none;
   position: fixed;
  }
  
  #navigation{    /* col-1 */
   display:none;
   width: 100%;
   margin: 50px auto; 
   padding: 1px 1px;
   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
  }
  #main_col{  /* col-2 */
    display: block;
    width: 100%;
    margin: 1px 1px; 
    padding: 8px 12px;
    
  }
  #main_col_wide{  /* col-2 wider version for desktop */
    display: block;
    width: 100%;
    margin: 5% auto; 
    padding: 8px 12px;
    margin-bottom:2px;
  }
  #news_updates{  /* col-3 */
   display: block;
   width: 100%;
   margin: 0 auto;
   position: relative;
   min-height: 100%;
  }
  #footer{
    padding: 5px 20px;
  }
  #footer ul li a{
   display:block;
   color: white;
   margin: 1px 5px; 
   font-size:10px; 
  }
  #footer ul li a img{
   width: 35%;
   height: 35%;
  }
  .social_me_icons{
    width: 20px;
    height: 20px;
  }
  #membership_form{
    width:100%;
  }
  #footnote{
	font-size: 2px;
	padding: 0.1px 0px;
 }
}
/* #################### Medium devices iPads (portrait and landscape)############ */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
  .row{
    width: 100%;
  }
  #header{
   width: 100%;
   height: 250px;
   background-image: url('../img/header_mobile.png') ;   
   background-repeat: no-repeat;
   background-size:auto 250px;
   background-position: center top;    
  }
  #menu{
   display:block;
   width: 100%;
   color:white;
   padding: 5px 3px;
   background-color: #252525;
   opacity: 0.6;
   text-decoration: none;
   position: fixed;
  }  
 
  #navigation{    /* col-1 */
   display:none;
   width: 100%;
   margin: 50px auto; 
   padding: 1px 1px;
   position: fixed; /* Fixed Sidebar (stay in place on scroll) */
   z-index: 1; /* Stay on top */
   top: 0; /* Stay at the top */
  }
  #main_col{  /* col-2 */
    display: block;
    width: 100%;
    margin: 10px auto; 
    padding: 8px 12px;
    
  }
  #main_col_wide{  /* col-2 wider version for desktop */
    display: block;
    width: 100%;
    margin: 5% auto; 
    padding: 8px 12px;
    margin-bottom:2px;
  }
  #news_updates{  /* col-3 */
   display: block;
   width: 100%;
   margin: 0 auto;
   position: relative;
   min-height: 100%;
  }
  #footer{
    padding: 5px 50px;
  }
  #footer ul li a{
   display:block;
   color: white;
   margin: 1px 5px; 
   font-size:10px; 
  }
  #footer ul li a img{
   width: 40%;
   height: 40%;
  }
  .social_me_icons{
    width: 25px;
    height: 25px;
  }
  #membership_form{
    width:100%;
  }
}

/* ####################### Desktop Styles############################################# */
@media only screen  and (min-width : 1224px) {
  .row{
    width: 80%;
  }  
  #header{
   min-height:215px;
   background-image: url('../img/header_desktop.png') ;   
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center top;  
  }
  #navigation{   /* col-1*/
   display:inline-block;
   width: 20%;
   min-height:400px;
   margin: 10px auto; 
   padding: 6px 5px;   
   vertical-align:top;
   position: relative;
  }
  #main_col{  /* col-2 */
    display:inline-block;
    width: 49%;
    margin: 10px auto; 
	min-height: 400px;
    padding: 8px 12px;
    vertical-align:top;
    position: relative;
	background:white;
  }
  #main_col_wide{  /* col-2 wider version for desktop */
    display: inline-block;
    width: 79.5%;
    margin: 10px auto;
    padding: 10px 12px;
    vertical-align:top;
	min-height: 400px;
    position: relative;
    border: solid 0.005em #848688;
	background:white;
	float:right;
  }
  #news_updates{  /* col-3 */
   display: inline-block;
   width: 29%;
   margin: 10px auto;   
   vertical-align:top;
   float:right;
  }
  #got_to_top{
    display: block; 
  }
}

/* ####################### General ############################################# */
#menu img{
 float: left;
}
#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  /*background-color: #f1f1f1;*/
  
}
#navigation ul li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  border-bottom: solid 0.15em #1A838F;
  margin-top: 1px;
}
/* Change the link color on hover */
#navigation ul li a:hover {
  background-color: #1A838F;
  color: white;
}

.image_slider_container{
 width: 100%;	 
 position: relative;
}
.image_slider_container ul{
 list-style-type: none; 
 width: 100%;
 padding:0;
}
.image_slider_container ul li a{    
    text-decoration: none;	
	display:none;
}
.image_slider_container ul li a img{
    width: 100%;
	height: 100%;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 6px 0 rgba(0, 0, 0, 0.01);	
}
#image_slider_next, #image_slider_prev{
 display: inline-block; 
 width: 9%;
 opacity: 0.5;
 padding: 10px 10px;
 text-decoration: none;
 color: white; 
 border: solid 0.1em #000;
 background: #000; 
 margin: 0 ; 
}
#image_slider_next{
 
 float:right;
 
}
#image_slider_next:hover, #image_slider_prev:hover{
 opacity: 0.9;
}

/* fake effect */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}